<!DOCTYPE html>
<html lang="en">
  <head th:object="${TutorProfileModel}">
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title th:text="*{user.firstName} +' '+ *{user.lastName} + ' (' + *{user.role} +')' ">Tutor Name</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
    <link th:href="@{/css/profile.css}" rel="stylesheet" />
    <link th:href="@{/css/common.css}" rel="stylesheet" />
  </head>
  <body>
    <main>
      <header class="row align-items-center ps-5 pe-5 shadow bg-body">
        <div class="col fs-5">
          <b><a href="/displayTutorProfile">THE TUTOR</a></b>
        </div>
        <div class="col text-end">
          <form th:object="${TutorProfileModel}" class="col" th:action="@{/logout}" method="post">
            <div class="dropdown">
              <a
                href="#"
                role="button"
                class="dropdown-toggle"
                id="signup_options"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                <img
                  th:src="@{/images/default_avatar.png}"
                  class="rounded-circle"
                  data-bs-toggle="tooltip"
                  th:title="|Logged in as *{user.firstName} *{user.lastName} (*{user.role})|"
                  alt="Avatar"
                  height="35"
                />
              </a>
              <ul class="dropdown-menu p-0" aria-labelledby="signup_options">
                <li>
                  <form action="/logout">
                    <button type="submit" class="btn-sm btn w-100">
                      Log out
                    </button>
                  </form>
                </li>
              </ul>
            </div>
          </form>
        </div>
      </header>
      <div class="con profile_con row">
        <div
          class="col-md-6 col-lg-5 col-xl-4 profile_details text-center p-5"
          th:object="${TutorProfileModel}"
        >
          <img
            th:src="@{/images/default_avatar.png}"
            class="rounded-circle shadow"
            height="120"
            alt="Avatar"
          />
          <br />
          <br />
          <h4>
            <span th:text="*{user.firstName}"></span>
            <span th:text="*{user.lastName}"></span> (<span
              th:text="*{user.role}"
            ></span
            >)
          </h4>
          <p class="text-start ps-2 pe-2" th:text="*{description}">
            users description
          </p>
          <div class="text-start">
            <p><b>Gender</b> <i th:text="*{user.gender}">users gender</i></p>
            <p><b>Location</b> <i th:text="*{user.location}">Arada | A/A | Ethiopia</i></p>
            <p><b>Email</b> <i th:text="*{user.email}">user email</i></p>
            <p><b>Phone</b> <i th:text="*{user.phone}">0987654321</i></p>
            <p><b>Username</b> <i th:text="*{user.username}">username</i></p>
            <p><b>Education Level</b> <i  th:text="*{level}">University Student (>3rd Year)</i></p>
            <p><b>Expertise</b> <i th:text="*{course}">Physics | Maths | Programing</i></p>
          </div>
          <div class="row">
            <a class="col" th:href = "@{/editTutorProfile(userId=*{user.Id}, tutorId = ${TutorProfileModel.Id})}">
              <button class="btn w-100 btn-sm btn-primary">edit profile</button>
            </a>
            <form class="col"  th:action="@{'/deleteTutorAccount/' + *{user.id}}" method="post">
              <input class="btn w-100 btn-sm btn-primary" type="submit" value="Delete Account">
            </form>
          </div>
        </div>
        <div class="col">
          <h4 class="text-center mt-4 mb-3">Requests Received</h4>
          <div  th:block th:each="tutee: ${TuteeRequests}" class="card cards w-75 mb-4">
            <h6 class="card-header">
              <b>From</b>
              <span th:text = "${tutee.getUser().getFirstName()}"></span>
              <span th:text = "${tutee.getUser().getLastName()}"></span>
            </h6>
            <div class="card-body">
              <p><b>Location</b> <i th:text = "${tutee.getUser().getLocation()}">Arada | A/A | Ethiopia</i></p>
              <p><b>Email</b> <i  th:text = "${tutee.getUser().getEmail()}">Henson.gray@gmail.com</i></p>
              <p><b>Phone</b> <i th:text = "${tutee.getUser().getPhone()}">0976348700</i></p>
              <div class="card-footer text-muted">Monday, 17 January 2022</div>
            </div>
          </div>
        </div>
      </div>
      <footer class="text-center p-2 align-items-center justify-content-center">
        &copy; 2022 <b>THE TUTOR</b> - All Rights Reserved.
      </footer>
    </main>
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/js/common.js}"></script>
  </body>
</html>
