</html>
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Success</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
    <link th:href="@{/css/profile.css}" rel="stylesheet" />
    <link th:href="@{/css/common.css}" rel="stylesheet" />
  </head>
  <body>
    <main>
      <header class="row align-items-center ps-5 pe-5 shadow bg-body">
        <div class="col fs-5">
          <b><a href="/displayTuteeProfile">THE TUTOR</a></b>
        </div>
        <div class="col text-end">
          <form th:object="${TutorProfileModel}" class="col" th:action="@{/logout}" method="post">
            <div class="dropdown">
              <a
                href="#"
                role="button"
                class="dropdown-toggle"
                id="signup_options"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                
                <img
                  th:src="@{/images/default_avatar.png}"
                  class="rounded-circle"
                  data-bs-toggle="tooltip"
                  title="Logged in as Tutee"
                  alt="Avatar"
                  height="35"
                />
              </a>
              <ul class="dropdown-menu p-0" aria-labelledby="signup_options">
                <li>
                  <form action="/logout" method="post">
                    <button type="submit" class="btn-sm btn w-100">
                      Log out
                    </button>
                  </form>
                </li>
              </ul>
            </div>
          </form>
        </div>
      </header>
      <div class="con edit-profile_con row justify-content-center  align-items-center ">
            <form class="col-auto rounded-3 p-3 bg-light text-center " th:action="@{/displayTuteeProfile}" method="post">
                <span>Your Request is sent SuccessFully.</span>
                <br>
                <a th:href="@{/displayTuteeProfile}" class="btn btn-primary mt-2">Back to profile</a>
            </form>
      </div>
      <footer class="text-center p-2 align-items-center justify-content-center">
        &copy; 2022 <b>THE TUTOR</b> - All Rights Reserved.
      </footer>
    </main>
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/js/common.js}"></script>
  </body>
</html>
