<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tutee Name</title>
    <link
      th:href="@{/css/bootstrap.min.css}"
      rel="stylesheet"
    />
    <link th:href="@{/css/profile.css}" rel="stylesheet" />
    <link th:href="@{/css/common.css}" rel="stylesheet" />
  </head>
  <body>
    <main>
      <header
        class="row align-items-center ps-5 pe-5 shadow bg-body"
      >
      <div class="col fs-5">
        <b><a href="/">THE TUTOR</a></b>
      </div>
        <div class="col text-end">
          <form class="col" action="/logout">
            <div class="dropdown">
              <a
                href="#"
                role="button"
                class="dropdown-toggle"
                id="signup_options"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                <img
                  th:src="@{/images/default_avatar.png}"
                  class="rounded-circle"
                  data-bs-toggle="tooltip"
                  title="Logged in as Henson G. (Tutor)"
                  alt="Avatar"
                  height="35"
                />
              </a>
              <ul class="dropdown-menu p-0" aria-labelledby="signup_options">
                <li>
                  <form action="/logout">
                    <button type="submit" class="btn-sm btn w-100">
                      Log out
                    </button>
                  </form>
                </li>
              </ul>
            </div>
          </form>
        </div>
      </header>
      <div class="con profile_con row">
        <div
          class="col-md-6 col-lg-5 col-xl-4 profile_details text-center p-5"
        >
          <img
            th:src="@{/images/default_avatar.png}"
            class="rounded-circle shadow"
            data-bs-toggle="tooltip"
            title="Henson G. (Tutor)"
            height="120"
            alt="Avatar"
          />
          <br />
          <br />
          <h4>Henson Gray (Tutor)</h4>
          <p class="text-start">
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry's standard dummy text
            ever since the 1500s.
          </p>
          <div class="text-start">
            <p><b>Gender</b> <i>Male</i></p>
          </div>
          <div class="text-start">
            <p><b>Location</b> <i>Arada | A/A | Ethiopia</i></p>
            <p><b>Email</b> <i>Henson.gray@gmail.com</i></p>
            <p><b>Phone</b> <i>0976348700</i></p>
          </div>
          <div class="text-start">
            <p><b>Education Level</b> <i>University Student (>3rd Year)</i></p>
            <p><b>Expertise</b> <i>Physics | Maths | Programing</i></p>
          </div>
          <div class="row">
            <form class="col" action="/edittutor">
              <button class="btn w-100 btn-sm btn-primary">edit profile</button>
            </form>
            <form class="pe-5t col" action="/deleteaccount">
              <button class="btn w-100 btn-sm btn-primary">delete account</button>
            </form>
          </div>
        </div>
        <div class="col">
          <h4 class="text-center mt-4 mb-3">Requests Received</h4>
          <div class="card cards w-75 mb-4">
            <h6 class="card-header">
              <b>From</b> Hermon Larson
            </h6>
            <div class="card-body">
              <h6 class="card-title"><b>Request Title</b></h6>
              <p class="card-text">
                Lorem Ipsum is simply dummy text of the printing and typesetting
                industry. Lorem Ipsum has been the industry's standard dummy
                text ever since the 1500s.
              </p>
              <p><b>Location</b> <i>Arada | A/A | Ethiopia</i></p>
              <p><b>Email</b> <i>Henson.gray@gmail.com</i></p>
              <p><b>Phone</b> <i>0976348700</i></p>
              <div class="card-footer text-muted">Monday, 17 January 2022</div>
            </div>
          </div>
          <div class="card cards w-75 mb-4">
            <h6 class="card-header">
              <b>From</b> Hermon Larson
            </h6>
            <div class="card-body">
              <h6 class="card-title"><b>Request Title</b></h6>
              <p class="card-text">
                Lorem Ipsum is simply dummy text of the printing and typesetting
                industry. Lorem Ipsum has been the industry's standard dummy
                text ever since the 1500s.
              </p>
              <p><b>Location</b> <i>Arada | A/A | Ethiopia</i></p>
              <p><b>Email</b> <i>Henson.gray@gmail.com</i></p>
              <p><b>Phone</b> <i>0976348700</i></p>
              <div class="card-footer text-muted">Monday, 17 January 2022</div>
            </div>
          </div>
          <div class="card cards w-75 mb-4">
            <h6 class="card-header">
              <b>From</b> Hermon Larson
            </h6>
            <div class="card-body">
              <h6 class="card-title"><b>Request Title</b></h6>
              <p class="card-text">
                Lorem Ipsum is simply dummy text of the printing and typesetting
                industry. Lorem Ipsum has been the industry's standard dummy
                text ever since the 1500s.
              </p>
              <p><b>Location</b> <i>Arada | A/A | Ethiopia</i></p>
              <p><b>Email</b> <i>Henson.gray@gmail.com</i></p>
              <p><b>Phone</b> <i>0976348700</i></p>
              <div class="card-footer text-muted">Monday, 17 January 2022</div>
            </div>
          </div>
        </div>
      </div>
      <footer class="text-center p-2 align-items-center justify-content-center">
        <div class="footer_nav row">
          <a href="/">Feed</a>
          &nbsp;&nbsp;|&nbsp;&nbsp;
          <a href="/">Saved</a>
          &nbsp;&nbsp;|&nbsp;&nbsp;
          <a href="/">Other</a>
          <br />
          <br />
        </div>
        &copy; 2022 <b>THE TUTOR</b> - All Rights Reserved.
      </footer>
    </main>
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/js/common.js}"></script>
  </body>
</html>
